/* Здесь вы напишете основную часть стилей страницы.

  Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
  ✦ like-icon — для svg-иконки анимированного сердца
  ✦ card__like-button — для кнопки Like рядом с иконкой
  ✦ card__icon-button — для кнопки, оборачивающей иконку
  ✦ card__icon-button — для кнопки, оборачивающей иконку
  ✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
  ✦ button__text — для обозначения текстового элемента внутри кнопки

  */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main_font);
  font-variation-settings: "wght" var(--text_weight);
  font-size: var(--bold_font_size);
  max-inline-size: 698px;
  background-size: cover;
  background-image: var(--background_image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--accent_font);
  font-weight: var(--text_weight);
  text-transform: uppercase;
  background-color: var(--background_color);
  border: 2px solid var(--accent_color);
  line-height: 100%;
  padding: 128px 121px;
  margin-top: 102px;
  margin-bottom: 102px;
}

.header_logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
  padding: 25px 0;
  position: relative;
  text-align: center;
}

.header_title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-wrap: nowrap;
}

.main {
  display: flex;
  gap: 51px;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content_section {
  background-color: var(--background_color);
}

section {
  width: 100%;
  outline: 2px solid var(--accent_color);
}

.card_title {
  font-family: var(--main_font);
  padding: 5px 14px;
  font-size: var(--bold_font_size);
  font-weight: var(--bold_text_weight);
}

.card_image {
  position: relative;
  background-color: grey;
}

.section_card_image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
  z-index: 0;
}

.first_picture {
  filter: saturate(35%) contrast(85%) brightness(90%) sepia(30%)
    hue-rotate(-10deg) grayscale(15%);
}

.second_picture {
  filter: brightness(108%) contrast(95%) saturate(362%) hue-rotate(360deg);
}

.third_picture {
  filter: hue-rotate(31deg) saturate(128%) contrast(107%);
}

.fourth_picture {
  filter: invert(76%);
}

.fifth_picture {
  filter: sepia(100%);
}

.sixth_picture {
  filter: blur(15px);
}

.seventh_picture {
  filter: blur(2px) brightness(96%) hue-rotate(98deg) saturate(141%)
    contrast(55%);
}

.card_label {
  position: absolute;
  font-family: var(--accent_font);
  font-size: var(--font_size);
  top: 26px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--shadow_color), 0 1px var(--shadow_color),
    1px 0 var(--shadow_color), 0 -1px var(--shadow_color);
  z-index: 1;
  opacity: 50%;
}

@supports (-webkit-text-stroke: 0.5px #fff) {
  .card_label {
    text-shadow: none;
    -webkit-text-stroke: 0.5px #fff;
  }
}

.card_text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
}

.button_container {
  display: flex;
  align-self: end;
  gap: 7px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background: none;
  transition: outline 0.3s ease;
  padding: 0px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent_color);
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.animated_button {
  border: 2px solid var(--accent_color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: var(--background_color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  background-color: var(--background_color);
}

.animated_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent_color);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.animated_button:hover::before {
  translate: 0%;
}

.animated_button:focus {
  outline: none;
}

.animated_button:focus-visible {
  box-shadow: 2px 2px var(--accent_color);
}

.button__text {
  font-size: var(--font_size);
  font-family: var(--accent_font);
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;
}

.dialog_button {
  width: 335px;
  height: 55px;
  gap: 8px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  z-index: 0;
}

.floppy_svg {
  fill: white;
  color: #fff;
  background-color: transparent;
  mix-blend-mode: difference;
  inline-size: 39px;
  block-size: 39px;
  z-index: 1;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  font-family: var(--accent_font);
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--accent_color);
  padding-inline: 30px;
  padding-block: 30px;
  font-size: var(--font_size);
  background-color: var(--background_color);
}

.dialog_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog_item {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.dialog_text {
  max-inline-size: 234px;
}

.ok_dialog_button button {
  inline-size: 100%;
}

.ok {
  padding: 11px 0;
}

dialog[opened] {
  display: flex;
}

@media (width < 376px) {
  .header {
    margin-top: 100px;
    margin-bottom: 102px;
    padding: 120px 14px;
  }

  .header_logo {
    padding: 15px 0px;
  }

  .dialog_button {
    width: 306px;
    height: 84px;
    flex-direction: column;
  }

  .floppy_svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding: 32px 40px;
  }

  .card_label {
    top: 23px;
    right: 11px;
  }

  .card_text {
    gap: 21px;
    padding: 22px 28px;
  }

  .button_container {
    margin-top: 6px;
  }

  .dialog_text {
    max-inline-size: 198px;
  }

  .main {
    gap: 55px;
  }
}